*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
    
}
header{
    background-color: black;
}
nav{
    margin: 0 auto;
    padding: 0 1.5rem;
    height: 8rem;
    background-color: black;
    color: white;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

}
.nav-left{
    display: flex;
    align-items: center;
    
}
.nav-left img{
    width: 15rem;
    height: 100%;
    margin: 0 auto;
}
.nav-left img{
    width: 10rem;
    height: auto;
    margin: 1rem 0;
}


.nav-toogle{
    color: white;
    background: none;
    border: none;
    font-size: 1.7rem;
    display: none;
}
.main-top{
    display: flex;
    flex-direction: column;
    height: 60rem;
    width: 100%;
    background-color: #f270b9;
    background-image: url(https://www-growth.scdn.co/static/home/wrapped-homepage-banner-graphic-tablet-mobile.svg);
    
   
}
.main-top__content{
  


   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 0 auto;
   
  
    color: #25336d;
    
    
}

.main-top__content  li{
    list-style: none;
}
 #main-top__hastag{
font-size: 14px;
}
#main-top__title{
font-size: 40px;
}
#main-top__paragraph{
font-size: 23px;
width: 50rem;

}
.download-buttons{
    display: flex;
    justify-content: space-between;
}
.download-buttons__both{
    background: none;
    border: none;
   
}
.download-buttons__both ul{
    width: 12rem;
    height: 4rem;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
.download-buttons__logo img{
    width: 2rem;
    height: auto;
}
.download-buttons__text{
   
    width: 8rem;
    height: 2.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.download-buttons__text #upper-text{
    font-size: 7px;
}
.download-buttons__text #bottom-text{
    font-size: 14px;
}
#featured-content{
    font-size: 16px;
    text-decoration:underline;

}
.main-bottom{
    width: 100%;
    background-color: #3148a4;
    background-image: url("https://content-tooling.spotifycdn.com/images/af63e367-ad10-4063-a8e2-5a50ae2a4b28_lie_circles-mobile.svg");
    background-position: 65% 55%;
    background-size: auto 190%;
    background-repeat: no-repeat;
}
   .main-bottom__content{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    height: 33rem;
    padding: 4.8px;   
    color:#2cd573 ;
    text-decoration: none;
   }
   .main-bottom__content li{
    list-style: none;
    
    
   }
#title{
    font-size: 24px;
    margin: 0px 0px 8px ;
}
#title2{
    font-size: 18px;
    margin: 16px 0px ;
    
}
.repButton{
    display: block;
    background-color: #2cd573;
    color: #3148a4;
    width: 24rem;
    height: 5rem;
    border-radius: 12rem;
    font-size: 17px;
    border: none;
}
.repButton:hover{
    cursor: pointer;
}
footer{
    background-color: black;
    width: 100%;
}
.footer-ctr{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
}
.footer-ctr figure{
    margin: 0 1.5rem;
}
.footer-ctr section{
    margin: 0px 15px;
}
.footer-ctr figure img{
    width: 9rem;
    height: auto;
}
.footer-pages dl{
    color: white;
    
    
}
.footer-pages dl dt{
    margin-top: 5rem;
    margin-bottom: 2.2rem;
    font-size: 1.2rem;
    font-weight: 900;
    
    
}
.footer-pages dl dd {
    height: 4.2rem;
    padding: 3px 0 15px 0;
    font-size: 1.6rem;
    
}
.footer-pages dl dd a{
    color: inherit;
}
.footer-media__circle{
   display: flex;
   
}
.footer-media__circle li{
   display: flex;
   justify-content: center;
   align-items: center;
  
   border-radius: 50%;
   background-color: #222326;
    list-style: none;
   margin: 0 1rem;
}

.footer-media__circle img{
    height: 2.4rem;
    width: auto;
}
.footer-country{
    display: flex;
    justify-content: flex-end;
}
.footer-country img{
    width: 1rem;
    height: auto;
    margin-right: 1rem;
}
.footer-bottomlinks{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#terms{
    display: flex;
    flex-wrap: wrap;
  
}

#terms li{
    list-style: none;
    margin:1rem 0;
    margin-right: 2rem;
    font-size: 10px;
}
#terms li a{
    color: white;
}
#year{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#year img{
    width: 1rem;
    height: 1rem;
}