.main-top__content{
    width: 35rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
    
     color: #25336d;
     
     
     
 }
 #main-top__paragraph{
    font-size: 20px;
    width: 35rem;
    text-align: center;
    
    }

    #featured-content{
        font-size: 16px;
        text-decoration:underline;
    
    }