
nav{
    max-width: 750px;
}
.nav-left img{
    width: 8.9rem;
    height: auto;
}
nav section{
    margin: 3rem;
    
    display: flex;
    justify-content: flex-end;
}
.nav-toogle{
    display: block;
    font-size: 30px;
}

.nav-rigth {
    display: none;
   
   
}

.main-top{
    display: flex;
    
    height: 46rem;
    width: 100%;
    
   background-position: left 318rem top -45rem;
    
    
   
}
.main-top__content{
   width: 30rem;
   height: 35rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin: auto auto;
   
    color: #25336d;
    
    
    
}

.main-top__content  li{
    list-style: none;
}
 #main-top__hastag{
font-size: 14px;

}
#main-top__title{
font-size: 20px;
width: 30rem;
text-align: center;

}
#main-top__paragraph{
font-size: 20px;
width: 25rem;
text-align: center;

}
.download-buttons{
    width: 26rem;
    display: flex;
    justify-content: center;
}

.download-buttons__both{
    display: none;
    
    
}
.unique-button{
    display: block;
    width: 21rem;
    height: 4.5rem;
    border-radius: 500px;
    font-size: 20px;
    color: white;
    background-color: #25336d;

}
.unique-button a{
    color: white;
}

#featured-content{
    font-size: 13px;
    text-decoration:underline;

}

.main-bottom{
    height: 48rem;
}
footer{
    padding: 50px 0px 20px 0;
}
.footer-ctr{
    width: 100%;
    
}

.footer-pages dl {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 21.4rem;
    justify-content: flex-end;
}
.footer-ctr .footer-media{
    margin-top: 12rem;
    margin-bottom: 1.5rem;
}
.footer-media__circle li{
    width: 4.4rem;
    height: 4.4rem;
}

